<section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="/assets/img/avatars/user.jpg" alt="Profile Picture">

   				<p class="lead">
					I am humbled you are visiting this website.
					In my blog, I write about agriculture, business, lifestyle and technology. 
					Hopefully you'll learn a lot of about how science is evolving  
					and even more trending technologies and productivity tools.
				</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>
				Here is some brief particulars...
			</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>{{ siteInfo.author }}</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>{{ siteInfo.dateOfBirth }}</span>
   				</li>
   				<li>
   					<strong>Hobbies:</strong>
   					<span>{{ siteInfo.jobs }}</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>{{ siteInfo.website }}</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>{{ siteInfo.email }}</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>
				I've always been interested in skills, working together with technologies, 
				that can provide helpful solutions to problems at hand. 		
			</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>HTML</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>CSS</strong>
				   </li>
				   <li>
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>JavaScript</strong>
				   </li>
				   <li>
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Markdown</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="/assets/resume/Mike Teddy - CV [v 4.0.0].pdf" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

</section> 