<article class="brick entry format-link animate-this">

    <div class="entry__thumb">
        <div class="link-wrap">
            <p>Looking for affordable &amp; reliable web hosting? We recommend Dreamhost.</p>
            <cite>
                <a target="_blank" href="http://www.dreamhost.com/r.cgi?287326">http://www.dreamhost.com</a>
            </cite>
        </div>
    </div> <!-- end entry__thumb -->

</article> <!-- end article -->