<article class="brick entry format-standard animate-this">

    <div class="entry__thumb">
        <a href="{{ post.url }}" class="thumb-link">
            <img src="{{ post.data.image }}" 
                     alt="{{ post.data.imageAlt }}">
        </a>
    </div> <!-- end entry__thumb -->

    <div class="entry__text">
        <div class="entry__header">

            <div class="entry__meta">
                <span class="entry__cat-links">
                    <a href="#">{{ post.data.imageAlt }}</a> 
                </span>
            </div>

            <h1 class="entry__title"><a href="{{ post.url }}">{{ post.data.title }}.</a></h1>
            
        </div>
        <div class="entry__excerpt">
            <p>
                {{ post.data.description }}
            </p>
        </div>
    </div> <!-- end entry__text -->

</article> <!-- end entry -->