---
layout: 'base.njk'
---

<!-- Article | Section
================================================== -->
<section class="s-content s-content--single">
    <div class="row">
        <div class="column large-12">

            <article class="s-post entry format-standard">

                <h2 class="s-content__title s-content__title--post">{{ title }}.</h2>

                <ul class="s-content__post-meta">
                    <li class="date">{{ date | postDate }}</li>
                    <li class="cat"><a href="">{{ imageAlt }}</a></li>
                </ul>
                
                <div class="s-content__primary">
                    <div class="s-content__media">
                        <div class="s-content__post-thumb">
                            <figure class="main-article__figure">
                                <p align="center">
                                    <img id="featured-image" width="1000" height="500" src="{{ image }}" alt="{{ imageAlt }}">
                                </p>
                                <figcaption>
                                    {{ imageAlt }}
                                </figcaption>
                            </figure>
                        </div>
                    </div> <!-- end s-content__media -->

                    {{ content | safe }}

                    {% include 'author.njk' %}

                    {# <div class="s-content__pagenav group">
                        <div class="prev-nav">
                            <a href="#" rel="prev">
                                <span>Previous</span>
                                Tips on Minimalist Design 
                            </a>
                        </div>
                            <div class="next-nav">
                                <a href="#" rel="next">
                                    <span>Next</span>
                                Less Is More 
                                </a>
                            </div>
                        </div> <!-- end s-content__pagenav --> #}

                </div> <!-- end s-content__primary -->
            </article>

        </div> <!-- end column -->
    </div> <!-- end row -->

</section> <!-- end s-content -->
 