<div class="s-content__author">
    <img src="/assets/img/avatars/user-06.jpg" alt="">

    <div class="about">
        <h5><a href="#">Mike Teddy Omondi</a></h5>
    
        <p>Web Developer | Rancko Solutions LLC.</p>

        <ul class="author-social">
            <li><a href="https://twitter.com/MikeTeddyOmondi">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/miketeddyomondi/">LinkedIn</a></li>
        </ul>
    </div>
</div> <!-- end s-content__author -->
