<article class="brick entry format-quote animate-this" >

    <div class="entry__thumb">
        <blockquote>
            <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

            <cite>Dieter Rams</cite>
        </blockquote>
    </div>

</article> <!-- end article -->