<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>More of my credentials.</h1>

            <p class="lead">
				This is my resume for your information.
			</p>

        </div>   		
    </div> 


   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Supervisor</h3>
	   					<p>April 2022 - August 2022</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Adept Techonolgies Limited</h4>
	   					<p>
							This job involved the digitisation of 
							case files for cloud storage and access by the 
							case tracking system being used by the Judiciary (Kenya). 
							My job roles involved overlooking the process of picking of case files 
							from specific registries indexing, preparation, scanning and reconstruction 
							of the case files before returning them back to the respective registries.   
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Intern</h3>
	   					<p>August 2020 - December 2020</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Tony West Limited</h4>
	   					<p>
							This is an East African Breweries Limited 
							affiliated depot involved distributing stocks 
							of different brands of alcohol to customers 
							i.e pubs and outlets as incentivised by the company. 
							My job role involved stock control which includes stock 
							taking and providing reports on the stocks valuation 
							as per the previous day ended. 
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>IT & Audit Assistant</h3>
	   					<p>January 2020 - March 2022</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Otieno Oboge & Company</h4>
	   					<p>
							This is an external audit firm involved in performing 
							audits per financial year to different companies, professionals, SACCOs and NGOs. 
							My job roles involves providing help desk services and offer 
							expertise on how we can improve operations with the rapid changes 
							in technology to allow the firm be able to deliver customer service 
							efficiently.
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Certified Ethical Hacking (C.E.H)</h3>
	   					<p>January 2020 - February 2020</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Institute of Advanced Technology</h4>
	   					<p>
							I learnt about ethical hacking best practices 
							and tools required for penetration testing. 
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor of Science (Computer Science)</h3>
	   					<p>August 2015 - November 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Masinde Muliro University of Science and Technology</h4>
	   					<p>
							I pursued my course of Computer Science successfully. 
							I specialised my skills under Network and Security.
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>KCSE</h3>
	   					<p>March 2011 - November 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Onjiko High School</h4>
	   					<p>
							I got an A- as my grade.
						</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
</section> <!-- /features -->
 
