<section id="services">

	<div class="overlay"></div>

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Services</h5>
            <h1>What Can I Do For You?</h1>

            <p class="lead">
				I am passionate about working with other 
				developers in joint projects. In addition, 
				I also deliver individual projects too, 
				to access them you can checkout my GitHub 
				repositories.  
			</p>

        </div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Web Design</h3>

		            <p class="desc">
						I design the web archticture i.e choosing the right 
						technology stacks for use with your case study & determine 
						the resources required to successfully launch your websites or 
						web or mobile applications to production. 
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Development</h3>  

		            <p class="desc">
						Being a full stack developer by profession, I convert all 
						the client requirements, delivering the project, to source code 
						that can be used to run the websites or web or mobile applications
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Cloud Infrastructure Setup & Configuration</h3>

		            <p class="desc">
						Using either the available cloud providers or even making custom 
						builds of infrastruture using locally bought or imported parts of 
						different components to deliver business solutions and projects.
					</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	<h3>Consultancy</h3>

		            <p class="desc">
						I provide a keen listening ear to clients requirements 
						to whom that need expertise on how tackle the problems
						that are affecting their businesses. 
	        		</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
</section> <!-- /services -->	
