<article class="brick entry format-gallery animate-this">

    <div class="entry__thumb slider">
            <div class="slider__slides">
                <div class="slider__slide">
                    <img src="/assets/img/thumbs/masonry/gallery/slide-1-600.jpg" 
                            srcset="/assets/img/thumbs/masonry/gallery/slide-1-600.jpg 1x, /assets/img/thumbs/masonry/gallery/slide-1-1200.jpg 2x" alt=""> 
                </div>
                <div class="slider__slide">
                    <img src="/assets/img/thumbs/masonry/gallery/slide-2-600.jpg" 
                            srcset="/assets/img/thumbs/masonry/gallery/slide-2-600.jpg 1x, /assets/img/thumbs/masonry/gallery/slide-2-1200.jpg 2x" alt="">
                </div>
                <div class="slider__slide">
                    <img src="/assets/img/thumbs/masonry/gallery/slide-3-600.jpg" 
                            srcset="/assets/img/thumbs/masonry/gallery/slide-3-600.jpg 1x, /assets/img/thumbs/masonry/gallery/slide-3-1200.jpg 2x" alt="">  
                </div>
            </div>    
    </div> <!-- end entry__thumb -->

    <div class="entry__text">
        <div class="entry__header">

            <div class="entry__meta">
                <span class="entry__cat-links">
                    <a href="#">Vacation</a>
                </span>
            </div>

            <h1 class="entry__title"><a href="single-gallery.html">The Best Tropical Leaves Images.</a></h1>
            
        </div>
        <div class="entry__excerpt">
            <p>
                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
            </p>
        </div>
    </div> <!-- end entry__text -->

</article> <!-- end article -->