<article class="brick entry format-video animate-this">

    <div class="entry__thumb video-image">
        <a href="https://player.vimeo.com/video/117310401?color=ffffff&title=0&byline=0&portrait=0" data-lity  class="thumb-link">
            <img src="/assets/img/thumbs/masonry/cookies-600.jpg" 
                    srcset="/assets/img/thumbs/masonry/cookies-600.jpg 1x, /assets/img/thumbs/masonry/cookies-1200.jpg 2x" alt="">
        </a>
    </div> <!-- end entry__thumb -->

    <div class="entry__text">
        <div class="entry__header">

            <div class="entry__meta">
                <span class="entry__cat-links">
                    <a href="#">Lifestyle</a> 
                    <a href="#">Health</a>
                </span>
            </div>

            <h1 class="entry__title"><a href="single-video.html">No Sugar Oatmeal Cookies.</a></h1>
            
        </div>
        <div class="entry__excerpt">
            <p>
            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
            </p>
        </div>
    </div> <!-- end entry__text -->

    </article> <!-- end article -->

    <article class="brick entry format-standard animate-this">

    <div class="entry__thumb">
        <a href="single-standard.html" class="thumb-link">
            <img src="/assets/img/thumbs/masonry/walk-600.jpg" 
                    srcset="/assets/img/thumbs/masonry/walk-600.jpg 1x, /assets/img/thumbs/masonry/walk-1200.jpg 2x" alt="">
        </a>
    </div> <!-- end entry__thumb -->

    <div class="entry__text">
        <div class="entry__header">

            <div class="entry__meta">
                <span class="entry__cat-links">
                    <a href="#">Work</a>
                </span>
            </div>

            <h1 class="entry__title"><a href="single-standard.html">Using Repetition and Patterns in Photography.</a></h1>
            
        </div>
        <div class="entry__excerpt">
            <p>
            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
            </p>
        </div>
    </div> <!-- end entry__text -->

</article> <!-- end article -->