---
title: About | Mike Teddy Omondi
layout: 'base.njk'
---

<!-- content
================================================== -->
<section class="s-content">
    <div class="row">
        <div class="column large-12">

            <section>

                <div class="s-content__media">
                    <img src="/assets/img/thumbs/about/about-1050.jpg" 
                            srcset="/assets/img/thumbs/about/about-2100.jpg 2100w, 
                                    /assets/img/thumbs/about/about-1050.jpg 1050w, 
                                    /assets/img/thumbs/about/about-525.jpg 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                </div> <!-- end s-content__media -->

                <div class="s-content__primary">

                    <h1 class="s-content__title">Learn More About Me.</h1>	

                    <p class="lead">I call myself a computer scientist specializing in network and security. I am also experienced with
                        infrastructure, platforms and software involved in network administration and security. In addition I am also well-versed 
                        in numerous programming languages but I mostly use JavaScript for web development and Python to 
                        automate daily tasks involved in line of defense and security of networks systems. 
                        I have a strong background in of practical knowledge of DevOps practices for delivering software to meet client needs.
                    </p> 

                    <p>
                        I have always love interacting with computers ever since I have been a toddler. Back in primary, I used to play any game I 
                        found in any PC like I remember <b>Dangerous Dave</b> and this led me to be more curious of how really the computer works. 
                        Ever since I have been keen to learn anything I can to know more until now I am learning new programming languages like Go and Rust
                        just to keep up with the trend. The industry is quite a fast-paced one so I would like to urge you to <a href="#mc-form">subscribe to my newsletter</a> 
                        cause I will always release new articles on trending technology and other related topics of interest like agriculture, business, food and lifestyle.                       
                    </p>

                    <hr>

                    <h2 class="s-content__title">What I Do...</h2>	

                    <div class="row block-large-1-2 block-tab-full s-content__blocks">
                        
                        <div class="column">
                            <h4>Design.</h4>
                            <p>
                                I offer design and architecture expertise of systems at Rancko Solutions LLC.
                            </p>
                        </div>

                        <div class="column">
                            <h4>Development.</h4>
                            <p>
                                I do web development by turning software requirements to code then refactor to function optimally.
                            </p>
                        </div>

                        <div class="column">
                            <h4>Digital Marketing</h4>
                            <p>
                                I do marketing client's brands in all online platforms associated with the brand. 
                            </p>
                        </div>

                        <div class="column">
                            <h4>Bug Bounty & Pentesting</h4>
                            <p>
                                Using a large pool of resources and tools for performing bug bounty in systems and looking for vulnerabilities
                                through pentesting, I also do deliver security audits for systems on request.
                            </p>
                        </div>

                    </div>

                </div> <!-- end s-content__primary -->

                <hr>

                <div class="s-content__primary">

                    <h2 class="s-content__title">Reach Out...</h2>

                    <p>
                        Feel free to reach out to me on my <a href="https://twitter.com/MikeTeddyOmondi">Twitter</a> and <a href="https://www.linkedin.com/in/miketeddyomondi/">LinkedIn</a> accounts 
                        in case you have any queries or suggestions you would like to put forward.   
                    </p>

                </div>


            </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->