---
title: Blog | Mike Teddy Omondi
layout: base.njk
---

<!-- page header
================================================== -->
<section class="s-pageheader">
    <div class="row current-cat">
        <div class="column">
            <h1 class="h2">Blog</h1>
        </div>
    </div>
</section>

<!-- Article Section 
================================================== -->
<section class="s-bricks">

    <div class="masonry">
        <div class="bricks-wrapper h-group">

            <div class="grid-sizer"></div>

            {% for post in collections.post | reverse %}
                {% include 'article-snippet.njk' %}
            {% endfor %}

        </div> <!-- end brick-wrapper --> 

    </div> <!-- end masonry -->


</section> <!-- end s-bricks -->
