---
title: Contact | Mike Teddy Omondi
layout: base.njk
---

<!-- Contact Section 
================================================== -->
<section class="s-content site-page">
    <div class="row">
        <div class="column large-12">

            <section>

                <div class="s-content__media">
                    <img src="/assets/img/thumbs/contact/contact-1050.jpg" 
                            srcset="/assets/img/thumbs/contact/contact-2100.jpg 2100w, 
                                    /assets/img/thumbs/contact/contact-1050.jpg 1050w, 
                                    /assets/img/thumbs/contact/contact-525.jpg 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                </div> <!-- end s-content__media -->

                <div class="s-content__primary">

                    <h1 class="s-content__title">Let's Get In Touch...</h1>	

                    <p class="lead">
                        I am glad you're here. Don't hesitate to send me a message because I will get back to you as soon as possible.
                    </p> 

                    <hr>

                    <div class="row block-large-1-2 block-tab-full s-content__blocks">
                        <div class="column">
                            <h4>Where to Find Us</h4>
                            <p>
                            Ayany, Kibra.<br>
                            Nairobi,<br>
                            Kenya.
                            </p>
                        </div>

                        <div class="column">
                            <h4>Contact Info</h4>
                            <p>
                            mike.teddy.omondi@gmail.com<br>
                            contact@miketeddyomondi.com <br>
                            Phone: (+254) 717-135-176
                            </p> 
                        </div>
                    </div> <!-- end s-content__blocks -->

                    <form name="cForm" id="cForm" class="s-content__form" method="post" action="">
                        <fieldset>

                            <div class="form-field">
                                <input name="cName" type="text" id="cName" class="h-full-width" placeholder="Your Name" value="">
                            </div>

                            <div class="form-field">
                                <input name="cEmail" type="text" id="cEmail" class="h-full-width" placeholder="Your Email" value="">
                            </div>

                            <div class="form-field">
                                <input name="cWebsite" type="text" id="cWebsite" class="h-full-width" placeholder="Website (Optional)"  value="">
                            </div>

                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="h-full-width" placeholder="Your Message" ></textarea>
                            </div>

                            <button type="submit" class="submit btn btn--primary btn--medium h-full-width">Submit</button>

                        </fieldset>
                    </form> <!-- end form -->

                </div> <!-- end s-content__primary -->

            </section>

        </div> <!-- end column -->
    </div> <!-- end row -->
</section> <!-- end s-content -->