---
title: Blog | Mike Teddy Omondi
layout: base.njk
---

<!-- page header
================================================== -->
<section class="s-pageheader">
    <div class="row current-cat">
        <div class="column">
            <h1 class="h2">Blog</h1>
        </div>
    </div>
</section>

<!-- Article Section 
================================================== -->
<section class="s-bricks">

    <div class="masonry">
        <div class="bricks-wrapper h-group">

            <div class="grid-sizer"></div>

            {% for post in collections.post | reverse %}
                {% include 'article-snippet.njk' %}
            {% endfor %}

        </div> <!-- end brick-wrapper --> 

    </div> <!-- end masonry -->


</section> <!-- end s-bricks -->

<section class="s-pageheader">
    <div class="row current-cat">
        <div class="column">
            <h1 class="h2">Featured</h1>
        </div>
    </div>
</section>


<section  class="s-bricks">
    <div class="masonry">
        <div class="bricks-wrapper h-group">
            <ul role="list" class="articles__list flow">

                {% for post in collections.featured | reverse %}
                    {% include 'article-snippet.njk' %}
                {% endfor %}
            
            </ul>

        </div>
  </div>
</section>

<hr>

<section class="s-pageheader">
    <div class="row current-cat">
        <div class="column">
            <h3 class="h2">Signup for Crypto.com</h3>
        </div>
    </div>
</section>

<section  class="s-bricks">
    <center>
        <img src="/assets/img/crypto_com.jpg" class="img-fluid mt-3" alt="image"/>
        <p><strong>Use my referral link to sign up for Crypto.com and get $25 for free and start transacting with cryptocurrency:</strong></p>
        <form action="https://crypto.com/app/68mrmzsa5w">
            <button type="submit" class="btn btn-lg btn-secondary fluid btn--neutral" style="display: flex; flex-direction: row;">Sign Up</button>
        </form>
    </center>
</section>

<hr>