---
title: Mike Teddy Omondi
layout: base.njk
---

	<!-- intro section
   ================================================== -->
    {% include 'intro.njk' %}
   <!-- /intro -->

   <!-- about section
   ================================================== -->
    {% include 'about.njk' %} 
   <!-- /about -->    

