---
title: Mike Teddy Omondi
layout: base.njk
---

	<!-- intro section
    ================================================== -->
        {% include 'intro.njk' %}
    <!-- /intro -->

    <!-- about section
    ================================================== -->
        {% include 'about.njk' %} 
    <!-- /about -->    

    <!-- resume section
    ================================================== -->
        {% include 'resume.njk' %} 
    <!-- /resume --> 

	<!-- Portfolio Section
    ================================================== -->
        {% include 'portfolio.njk' %} 
    <!-- /resume --> 

	<!-- CTA Section
    ================================================== -->
        {% include 'cta.njk' %} 
    <!-- /cta --> 

	<!-- services Section
    ================================================== -->
        {% include 'services.njk' %} 
    <!-- /services -->	

	<!-- stats Section
    ================================================== -->
        {% include 'stats.njk' %}   
    <!-- /stats -->
	
    <!-- contact
    ================================================== -->
        {% include 'contact.njk' %}
    <!-- /contact -->
